name: CI - Run only when relevant files change

on:
  push:
    branches:
      - main
    paths:
      - "src/**"
      - "requirements.txt"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run job
        run: echo "Running CI pipeline because relevant files were changed."
